<h1>Admin Web Interface</h1>
<div class="ink-tabs left">
    <ul class="tabs-nav">
        <li><a href="#settings">Settings</a></li>
        <li><a href="#entries">Entries</a></li>

    </ul>
    <div id="settings" class="tabs-content">
        <h3>Settings :</h3>

        <div class="control-group">
            <div class="column-group gutters">
                <form class="ink-form">
                    <fieldset>
                        <div class="control-group column-group">
                            <label class="large-20 content-right">URL Api http://</label>

                            <div class="control large-40 append-symbol">
                                <span>
                                    <input data-submit="saveSettingsBaseUrl" type="text" id="baseUrl"
                                           value="{{settings.baseUrl}}">
                                    <i class="icon-exchange"></i>
                                </span>
                            </div>
                            <div class="control large-20 content-left">
                                <button id="saveSettingsBaseUrl" class="saveSettings ink-button">Save</button>
                            </div>
                        </div>
                        <div class="control-group column-group">
                            <label class="large-20 content-right">URL Api port :</label>

                            <div class="control large-20 append-symbol">
                                <span>
                                    <input data-submit="saveSettingsBasePort" type="text" id="basePort"
                                           value="{{settings.basePort}}">
                                    <i class="icon-exchange"></i>
                                </span>
                            </div>
                            <div class="control large-20 content-left">
                                <button id="saveSettingsBasePort" class="saveSettings ink-button">Save</button>
                            </div>
                        </div>
                        <div class="control-group column-group">
                            <label class="large-20 content-right">Status:</label>

                            <div class="control large-10">
                                <input id="online" type="checkbox" {{checkedOnline}}/>
                            </div>
                        </div>
                        <div class="control-group column-group">
                            <label class="large-20 content-right">Bypass:</label>

                            <div class="control bypass large-10">
                                <input id="bypass" type="checkbox" {{checkedBypass}}/>
                            </div>
                        </div>
                        <div class="control-group column-group">
                        <label class="large-20 content-right">Port Proxy:</label>

                            <div class="control large-10 append-symbol">
                                <span>
                                <input data-submit="saveSettingsPortProxy" type="text" id="portProxy"
                                       value="{{settings.portProxy}}">
                                <i class="icon-warning-sign"></i>
                                </span>
                            </div>
                            <div class="control large-10 content-left">
                                <button id="saveSettingsPortProxy" class="saveSettings ink-button">Save</button>
                            </div>
                        </div>
                        <div class="control-group column-group">
                            <label class="large-20 content-right">Port Admin:</label>

                            <div class="control large-10 append-symbol">
                                <span>
                                <input data-submit="saveSettingsPortAdmin" type="text" id="portAdmin"
                                       value="{{settings.portAdmin}}">
                                    <i class="icon-warning-sign"></i>
                                </span>
                            </div>
                            <div class="control large-10 content-left">
                                <button id="saveSettingsPortAdmin" class="saveSettings ink-button">Save</button>
                            </div>
                            <div class="control large-30 content-left">
                                <i class="ink-label error invert">need restart and can be dangerous !</i>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div id="entries" class="tabs-content">
        <h3>Entries :</h3>

        <form action="#" class="ink-form">
            <div class="control-group">
                <div class="column-group gutters">
                    <div class="control large-60 append-button">
                        <span><input data-input="searchEntry" type="text"/></span>
                        <button id="searchEntry" class="ink-button"><i class="icon-search"></i> Search</button>
                    </div>
                </div>
            </div>
        </form>
        <button id="refresh" class="ink-button">Refresh entries</button>
        <button id="deleteAllEntries" class="ink-button red">Delete all entries</button>
        <table id="entriesTable" class="ink-table alternating hover" data-page-size="30">
            <thead>
            <th data-sortable="true">Method</th>
            <th data-sortable="true">URL</th>
            <th data-sortable="true">Duration</th>
            <th>Actions</th>
            </thead>
            {{#each docs}}
                <tr id="{{this._id}}">
                    <td><span class="ink-label {{getLabelColor}}">{{this.method}}</span></td>
                    <td style="margin-left:10px">{{this.url}}</td>
                    <td style="margin-left:10px">{{this.duration}} <span class="ink-badge"
                                                                         id="{{this._id}}_alert"></span></td>
                    <td>
                        <span>
                        <i class="openModal tooltip icon-edit icon-medium" data-target="{{this._id}}"
                           data-tip-text="Open Edit panel"
                           data-tip-where="up"></i>
                        </span>
                        <span>
                            <i class="deleteEntry tooltip icon-trash icon-medium" data-target="{{this._id}}"
                                data-tip-text="Delete this entry from cache"
                                data-tip-where="up"></i>
                        </span>
                    </td>
                </tr>
            {{/each}}
        </table>
        <nav class="ink-navigation">
            <ul class="pagination"></ul>
        </nav>
        <table id="trash" style="display:none;">
        </table>
        <div class="ink-shade fade">
            <div id="modal" class="ink-modal" data-trigger=".openModal">
                <div class="modal-header">
                    <button class="modal-close ink-dismiss"></button>
                    <h5>Edit the entry <span id="modal_id"></span></h5></div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button data-entryid="{{this._id}}" class="modifyButton ink-button blue">Modify</button>
                    <button class="ink-button ink-dismiss">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>