<h1>Admin Web Interface</h1>
<div class="ink-tabs left">
    <ul class="tabs-nav">
        <li><a href="#settings">Settings</a></li>
        <li><a href="#entries">Entries</a></li>

    </ul>
    <div id="settings" class="tabs-content">
        <h3>Settings :</h3>

        <div class="control-group">
            <div class="column-group gutters">
                <form class="ink-form">
                    <fieldset>
                        <div class="control-group column-group">
                            <label class="large-20 content-right">URL Api:</label>

                            <div class="control large-40">
                                <input data-submit="saveSettingsBaseUrl" type="text" id="baseUrl"
                                       value="{{settings.baseUrl}}">
                            </div>
                            <div class="control large-20 content-left">
                                <button id="saveSettingsBaseUrl" class="saveSettings ink-button">Save</button>
                            </div>
                        </div>
                        <div class="control-group column-group">
                            <label class="large-20 content-right">Status:</label>

                            <div class="control large-10">
                                <input id="online" type="checkbox" {{checkedOnline}}/>
                            </div>
                        </div>
                        <div class="control-group column-group">
                            <label class="large-20 content-right">Port Proxy:</label>

                            <div class="control large-10">
                                <input data-submit="saveSettingsPortProxy" type="text" id="portProxy"
                                       value="{{settings.portProxy}}">
                            </div>
                            <div class="control large-10 content-left">
                            <button id="saveSettingsPortProxy" class="saveSettings ink-button">Save</button>
                            </div>
                            <div class="control large-30 content-left">
                                <i class="ink-label error invert">need restart and can be dangerous !</i>
                            </div>
                        </div>
                        <div class="control-group column-group">
                            <label class="large-20 content-right">Port Admin:</label>

                            <div class="control large-10">
                                <input data-submit="saveSettingsPortAdmin" type="text" id="portAdmin"
                                       value="{{settings.portAdmin}}">
                            </div>
                            <div class="control large-10 content-left">
                                <button id="saveSettingsPortAdmin" class="saveSettings ink-button">Save</button>
                            </div>
                            <div class="control large-30 content-left">
                                <i class="ink-label error invert">need restart and can be dangerous !</i>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div id="entries" class="tabs-content">
        <h3>Entries :</h3>
        <table class="ink-table alternating hover" data-page-size="30">
            <thead>
            <th data-sortable="true">Method</th>
            <th data-sortable="true">URL</th>
            <th data-sortable="true">Duration</th>
            <th>Actions</th>
            </thead>
            {{#each docs}}
                <tr>
                    <td><span class="ink-label {{getLabelColor}}">{{this.method}}</span></td>
                    <td style="margin-left:10px">{{this.url}}</td>
                    <td style="margin-left:10px">{{this.duration}} <span class="ink-badge"
                                                                         id="{{this._id}}_alert"></span></td>
                    <td><i class="toggl icon-edit icon-medium" data-target="#{{this._id}}_panel"></i></td>
                </tr>
                <!-- <tr id="{{this._id}}_panel" class="hide-all" style="display: none">
            <td colspan="3">
                <label class="content-right" for="{{this._id}}_bodyin">Request : </label><textarea
                    id="{{this._id}}_bodyin">{{this.bodyIn}}</textarea>
                <label class="content-right" for="{{this._id}}_bodyout">Response : </label><textarea
                    id="{{this._id}}_bodyout">{{this.bodyOut}}</textarea>
                <button data-entryid="{{this._id}}" class="modifyButton ink-button">Modify</button>
            </td>
        </tr>-->
            {{/each}}
        </table>
        <nav class="ink-navigation">
            <ul class="pagination"></ul>
        </nav>
        <div class="ink-shade">
            <div id="modal" class="ink-modal" data-trigger=".icon-edit">
                <div class="modal-header">
                    <button class="modal-close ink-dismiss"></button>
                    <h5>Edit the entry</h5></div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button data-entryid="{{this._id}}" class="modifyButton ink-button blue">Modify</button>
                    <button class="ink-button modal-close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>